@import "../../../style/abstracts";
@import "../../../style/variables";

.button {
  background-color: $contrast-color;
  color: $light-text-color;
  padding: 10px;

  @include flex(row, center, center);

  gap: 5px;
  border-radius: 24px;
  box-shadow: 0 10px 20px -10px $contrast-color;
  transition: box-shadow 0.5s;

  .arrow {
    transition: all 0.5s;
    filter: brightness(0) saturate(100%) invert(99%) saturate(7500%) hue-rotate(241deg) brightness(101%) contrast(102%);
  }

  &:hover {
    box-shadow: 0 10px 30px -10px $contrast-color;

    &:hover .arrow {
      transform: translateX(5px);
    }
  }
}
