@import "../../../style/abstracts";
@import "../../../style/variables";

.confirmationModal {
  .loader {
    background: $transparent-bg-color;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: loader;
    animation-duration: 0.5s;
  }

  @keyframes loader {
    0% {
      background: transparent;
      transform: scale(0.1) rotate(-360deg);
    }

    50% {
      background: transparent;
      transform: scale(1) rotate(0deg);
    }

    100% {
      background: $transparent-bg-color;
    }
  }

  .box {
    @include flex(column, center, center);

    gap: 10px;
    width: 280px;
    background-color: $secondary-bg-color;
    border-radius: 30px;
    padding: 30px 10px;
    margin: calc(50vh - 82px) auto 0;
    animation: animate-modal 0.7s;

    @keyframes animate-modal {
      0% {
        transform: translateY(-300px) scale(0.01);
      }

      50% {
        transform: translateY(50px) scale(0.8);
      }

      100% {
        transform: translateY(0) scale(1);
      }
    }

    h4 {
      box-shadow: 0 0 2px $transparent-bg-color;
      max-width: 240px;
      font-size: 20px;
      padding: 3px 10px;
      border-radius: 10px;
      color: $transparent-bg-color;
    }

    p {
      font-weight: 500;
    }

    .buttons {
      @include flex(row, center, center);

      gap: 10px;

      .button {
        min-width: 95px;
        padding: 0 5px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: $secondary-bg-color;
        transition: 0.5s;

        &:nth-child(1) {
          background-color: $red-color;
          box-shadow: 0 10px 20px -4px $red-color;
        }

        &:nth-child(2) {
          background-color: $contrast-color;
          box-shadow: 0 10px 20px -4px $contrast-color;
        }

        &:nth-child(1):hover {
          box-shadow: 0 0 4px $red-color;
          background-color: $secondary-bg-color;
          text-shadow: 0 0 2px $red-color;
        }

        &:nth-child(2):hover {
          box-shadow: 0 0 4px $contrast-color;
          background-color: $secondary-bg-color;
          text-shadow: 0 0 2px $contrast-color;
        }
      }
    }
  }
}
