$contrast-color: #1976d2;
$primary-bg-color: #e7f2fe;
$secondary-bg-color: #fff;
$dark-bg-color: #17113c;
$light-text-color: #fff;
$pale-text-color: #666e86;
$dark-text-color: #000;
$hover-color: #81bcf8;
$gray-color: rgb(212 213 213);
$transparent-bg-color: #50494960;
$red-color: #da5454;
$pale-red-color: #ff000051;
$light-blue: #c8e2fd;
